In [1]:
import shared.config as config
import pymongo
import numpy as np
import pandas as pd
import json
import re
import copy
import ast
import attributes

from ipywidgets import interact, Dropdown
import sqlalchemy as db
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, inspect
from sqlalchemy.engine import reflection

#pd.set_option('display.max_rows', 200)

In [2]:
myclient = pymongo.MongoClient(str(config.MONGO_URI))
stagingDb = myclient[str(config.DB_STAGING)]
analyseDb = myclient[str(config.DB_ANALYSE)]
stagingCol = stagingDb[config.COLL_PLAATJES]
stagingOud = stagingDb[config.COLL_STAGING_OUD]
stagingNieuw = stagingDb[config.COLL_STAGING_NIEUW]
analyseCol = analyseDb[config.COLL_ANALYSE]
analyseColClean = analyseDb[config.COLL_ANALYSE_CLEAN]
metaCollection = stagingDb['Kolominformatie']

AIRFLOW_WASSTRAAT_CONFIG = "./wasstraat_config/Wasstraat_Config_HarmonizeV3.xlsx"
SUGGESTIE_XL = "./wasstraat_config/Wasstraat_Attribuut_Suggestie.xlsx"

In [3]:
xl = pd.read_excel(AIRFLOW_WASSTRAAT_CONFIG, None);
df_table = xl['Objecten']
df_table.head(30)

,Unnamed: 0,Object,Tabellen,Overerven,Samenvoegen,ABR-materiaal,ABR-submateriaal,Unnamed: 7
0,0.0,Ignore,"["".*backup.*"", "".*kopie.*"", "".*tijdelijk.*"", ""...",NaN,NaN,NaN,NaN,NaN
1,1.0,Tekening,"[""^TEKENING.*""]",NaN,NaN,NaN,NaN,NaN
2,2.0,Vondst,"[""^VONDSTENLIJST"", ""^VONDST$"", ""^VELDVONDST"", ...",NaN,NaN,NaN,NaN,NaN
3,3.0,Spoor,"[""^SPOREN$"", ""^SPOOR$"", ""sporen""]",NaN,NaN,NaN,NaN,NaN
4,4.0,Vulling,"[""^VULLING.*"", ""MUUR""]",NaN,NaN,NaN,NaN,NaN
5,5.0,Dia,"[""DIA.*""]",NaN,NaN,NaN,NaN,NaN
6,6.0,Foto,"["".*FOTO.*""]",NaN,NaN,NaN,NaN,NaN
7,27.0,Fotobeschrijving,"[""DIAOPGRAVING"", ""DIAVOORWERP"", ""Fotolijst""]",NaN,NaN,NaN,NaN,NaN
8,28.0,Fotokoppel,"[""Foto Totaal Tabel""]",NaN,NaN,NaN,NaN,NaN
9,7.0,Put,"[""^PUT$"", ""PUTTEN""]",NaN,NaN,NaN,NaN,NaN
10,21.0,Vlak,"[""VLAK""]",NaN,NaN,NaN,NaN,NaN
11,8.0,Artefact,"[""ARTEFACT.*"", ""Totaaltabel dateringen"", ""Dete...",NaN,NaN,NaN,NaN,NaN
12,9.0,Hout,"[""HOUT"", ""ARTF_OPH"", ""Palen"", ""PAAL""]",Artefact,NaN,https://data.cultureelerfgoed.nl/term/id/abr/e...,https://data.cultureelerfgoed.nl/term/id/abr/e...,OPHT
13,10.0,Leer,"[""LEER"", ""ARTF_ODL""]",Artefact,NaN,https://data.cultureelerfgoed.nl/term/id/abr/e...,https://data.cultureelerfgoed.nl/term/id/abr/1...,ODL
14,11.0,Kleipijp,"[""KLEIPIJPEN"", ""ARTF_PIJP""]",Artefact,NaN,https://data.cultureelerfgoed.nl/term/id/abr/6...,NaN,KER
15,12.0,Steen,"[""STEEN"", ""ARTF_STN""]",Artefact,NaN,https://data.cultureelerfgoed.nl/term/id/abr/d...,NaN,https://data.cultureelerfgoed.nl/term/id/abr/d...
16,13.0,Glas,"[""GLAS"", ""ARTF_GLS""]",Artefact,NaN,https://data.cultureelerfgoed.nl/term/id/abr/d...,NaN,GLS
17,14.0,Metaal,"[""METAAL"", ""ARTF_MET"", ""SPIJKER.*""]",Artefact,NaN,https://data.cultureelerfgoed.nl/term/id/abr/b...,NaN,MXX
18,18.0,Munt,"[""MUNT.*"", ""MUNTEN EN PENNINGEN""]",Artefact,NaN,https://data.cultureelerfgoed.nl/term/id/abr/b...,NaN,MXX
19,15.0,Aardewerk,"["".*AARDEWERK.*"", ""AW1.*"", ""AW2.*"", ""AW3.*"", ""...",Artefact,NaN,https://data.cultureelerfgoed.nl/term/id/abr/6...,https://data.cultureelerfgoed.nl/term/id/abr/9...,KAW
20,16.0,Menselijk_Bot,"[""Skelet.*"", ""ARTF_OMX"", ""MENSELIJK""]",Artefact,NaN,https://data.cultureelerfgoed.nl/term/id/abr/e...,https://data.cultureelerfgoed.nl/term/id/abr/5...,OMB
21,19.0,Bouwaardewerk,"[""ARTF_KER"", ""KERAMIEK$"", ""ARTF_KBM""]",Artefact,NaN,https://data.cultureelerfgoed.nl/term/id/abr/6...,https://data.cultureelerfgoed.nl/term/id/abr/e...,KBW
22,20.0,Dierlijk_Bot,"[""ARTF_BOT"", ""^BOT$"", ""BEEN"", ""VIS"", ""ARTF_ODI...",Artefact,NaN,https://data.cultureelerfgoed.nl/term/id/abr/e...,https://data.cultureelerfgoed.nl/term/id/abr/8...,ODB
23,24.0,Schelp,"[""ARTF_ODS""]",Artefact,NaN,https://data.cultureelerfgoed.nl/term/id/abr/e...,https://data.cultureelerfgoed.nl/term/id/abr/e...,ODS
24,25.0,Onbekend,"[""ARTF_ODX"", ""ARTF_OPX"", ""ARTF_OXX"", ""DELFHOUT""]",Artefact,NaN,NaN,NaN,XXX
25,26.0,Textiel,"[""ARTF_OTE""]",Artefact,NaN,https://data.cultureelerfgoed.nl/term/id/abr/e...,https://data.cultureelerfgoed.nl/term/id/abr/d...,OTE
26,27.0,Monster,"[""Monster_gegevens"", ""Monster_waardering""]",NaN,NaN,NaN,NaN,NaN
27,28.0,Monster_Schelp,"[""^Monster_schelp.*""]",NaN,NaN,NaN,NaN,NaN
28,29.0,Monster_Botanie,"[""^Monster_botanie.*""]",NaN,NaN,NaN,NaN,NaN
29,30.0,ABR,"[""ABR""]",NaN,NaN,NaN,NaN,NaN

## Find all Attributes and connect them to the Objects

In [4]:

df = attributes.getAllAttributes()
df = df.sort_values(by=['Object', 'count'], ascending=False)
df[df['Object'] == 'Tekening']

len(df)

2633

In [5]:
lst = df['Object'].unique()
Objecten_lst = Dropdown(options = sorted(lst))

@interact(obj = Objecten_lst)
def print_city(obj):
    display(df[df.Object == obj].style.apply(lambda x: ["color: green" if bool(set(x.projecten) & set(['DC179', 'DC154'])) else "" for v in x], axis = 1))

interactive(children=(Dropdown(description='obj', options=('Aardewerk', 'Artefact', 'Bouwaardewerk', 'DT_Soort…

In [6]:
def setNr(kolom):
    string = str(kolom)
    return string[:len(string)-6] + 'nr' if string.endswith('nummer') else string

df["sugg_kolom"] = df["Kolommen"].str.lower()
#df["sugg_kolom"] = df.apply(lambda x: setNr(df["sugg_kolom"]), axis=1)
df["sugg_omschr"] = df.apply(lambda x: x['omschrijvingen'][0].split()[0].lower() if len(x['omschrijvingen']) > 0 else "", axis=1)
df["sugg_omschr"] = df.apply(lambda x: setNr(x['sugg_omschr']), axis=1)
df["new_attr"] = ""
df["new_attr_artefact"] = ""
df.head(30)

,Object,Kolommen,omschrijvingen,count,projecten,Attribute,teller,percentage_gevuld,sugg_kolom,sugg_omschr,new_attr,new_attr_artefact
2601,Vulling,KLEUR,"[kleur, kleur (volgens standaard codering), kl...",186,[DC024],kleur,5723.0,50.0,kleur,kleur,,
2614,Vulling,OPMERKING,"[extra opmerkingen, eventuele extra opmerkingen]",164,[DC024],opmerkingen,5816.0,51.0,opmerking,extra,,
2621,Vulling,SPOOR,[spoornummer],163,[DC024],spoornr,5220.0,46.0,spoor,spoornr,,
2580,Vulling,(none),[TOTAALTABEL VULLINGEN],124,[],,NaN,NaN,(none),totaaltabel,,
2581,Vulling,10LGMT,"[10 lagen maat, 10 lagenmaat in cm]",124,[DC024],,3974.0,35.0,10lgmt,10,,
2582,Vulling,BB1,"[steenformaat 1 breedte in cm, formaat steen]",124,[DC024],breedte_baksteen1,3974.0,35.0,bb1,steenformaat,,
2583,Vulling,BB2,"[steenformaat 2 breedte in cm, formaat steen]",124,[DC024],breedte_baksteen2,3974.0,35.0,bb2,steenformaat,,
2584,Vulling,BB3,"[steenformaat 3 breedte in cm, formaat steen]",124,[DC024],breedte_baksteen3,3974.0,35.0,bb3,steenformaat,,
2586,Vulling,BOUWMAT,"[type bouwmateriaal, bouwmateriaal]",124,[DC024],,3974.0,35.0,bouwmat,type,,
2592,Vulling,HB1,"[steenformaat 1 hoogte in cm, formaat steen]",124,[DC024],hoogte_baksteen1,3974.0,35.0,hb1,steenformaat,,
2593,Vulling,HB2,"[steenformaat 2 hoogte in cm, formaat steen]",124,[DC024],hoogte_baksteen2,3974.0,35.0,hb2,steenformaat,,
2594,Vulling,HB3,"[steenformaat 3 hoogte in cm, formaat steen]",124,[DC024],hoogte_baksteen3,3974.0,35.0,hb3,steenformaat,,
2595,Vulling,HERGEBR,[sporen hergebruik],124,[DC024],,3974.0,35.0,hergebr,sporen,,
2598,Vulling,HOEK,"[type hoekoplossing, hoek oplossing]",124,[DC024],,3974.0,35.0,hoek,type,,
2604,Vulling,LB1,"[steenformaat 1 lengte in cm, formaat steen]",124,[DC024],lengte_baksteen1,3974.0,35.0,lb1,steenformaat,,
2605,Vulling,LB2,"[steenformaat 2 lente in cm, formaat steen]",124,[DC024],lengte_baksteen2,3974.0,35.0,lb2,steenformaat,,
2606,Vulling,LB3,"[steenformaat 3 lengte in cm, formaat steen]",124,[DC024],lengte_baksteen3,3974.0,35.0,lb3,steenformaat,,
2611,Vulling,METSELVB,"[metselverband, type metselverband]",124,[DC024],,3974.0,35.0,metselvb,metselverband,,
2612,Vulling,MORTEL,"[morteltypes, morteltype]",124,[DC024],,3974.0,35.0,mortel,morteltypes,,
2628,Vulling,VOEGMAT,[voegmateriaal],124,[DC024],,3974.0,35.0,voegmat,voegmateriaal,,
2626,Vulling,TEXTUUR,"[textuur, textuur van de bodem]",119,[DC024],textuur,4037.0,35.0,textuur,textuur,,
2630,Vulling,VULLING,"[muurnummer, vullingnummer]",116,[DC024],vullingnr,4689.0,41.0,vulling,muurnr,,
2585,Vulling,BIOTURB,"[bioturbatie, ge-bioturbeerde laag]",113,[DC024],bioturbatie,3757.0,33.0,bioturb,bioturbatie,,
2588,Vulling,FEMN,[IJzer en Mangaan],113,[DC024],,3757.0,33.0,femn,ijzer,,
2589,Vulling,FO,[fosfaat],113,[DC024],,3757.0,33.0,fo,fosfaat,,
2590,Vulling,GEVLEKT,[gevlekt (kleur aangeven)],113,[DC024],gevlekt,3757.0,33.0,gevlekt,gevlekt,,
2596,Vulling,HK,[houtskool],113,[DC024],,3757.0,33.0,hk,houtskool,,
2597,Vulling,HLM,"[verbrande leem (huttenleem)/VKL, verbrande le...",113,[DC024],,3757.0,33.0,hlm,verbrande,,
2607,Vulling,LGINTERP,[laag interpretatie],113,[DC024],laaginterpretatie,3757.0,33.0,lginterp,laag,,
2608,Vulling,LPR,[plantenresten],113,[DC024],,3757.0,33.0,lpr,plantenresten,,

In [7]:
lst_objects = df['Object'].unique()

with pd.ExcelWriter(SUGGESTIE_XL) as writer:
    for obj in lst_objects:
        df[df.Object == obj].to_excel(writer, sheet_name=obj)
    writer.save()

/tmp/ipykernel_23946/1422136754.py:6: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [8]:
lst = list(df_table[df_table.Overerven == 'Artefact']['Object'])
lst.sort()
#lst = lst.sort()
for tp in lst:
    print(tp + ' = \"' + tp + '\"')

Aardewerk = "Aardewerk"
Bouwaardewerk = "Bouwaardewerk"
Dierlijk_Bot = "Dierlijk_Bot"
Glas = "Glas"
Hout = "Hout"
Kleipijp = "Kleipijp"
Leer = "Leer"
Menselijk_Bot = "Menselijk_Bot"
Metaal = "Metaal"
Munt = "Munt"
Onbekend = "Onbekend"
Schelp = "Schelp"
Steen = "Steen"
Textiel = "Textiel"

In [9]:
engine = create_engine(config.SQLALCHEMY_DATABASE_URI)

with engine.connect() as connection:
    df = pd.read_sql_query('SELECT brondata, artefactsoort from "Def_Artefact"', connection)

list(df['artefactsoort'].unique())

ObjectNotExecutableError: Not an executable object: 'SELECT brondata, artefactsoort from "Def_Artefact"'

In [ ]:
lst