In [34]:
import shared.config as config
import pymongo
import numpy as np
import pandas as pd
import json
import re
import copy
import ast
import attributes

from ipywidgets import interact, Dropdown
import sqlalchemy as db
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, inspect
from sqlalchemy.engine import reflection

pd.set_option('display.max_rows', 200)

In [35]:
myclient = pymongo.MongoClient(str(config.MONGO_URI))
stagingDb = myclient[str(config.DB_STAGING)]
analyseDb = myclient[str(config.DB_ANALYSE)]
stagingCol = stagingDb[config.COLL_PLAATJES]
stagingOud = stagingDb[config.COLL_STAGING_OUD]
stagingNieuw = stagingDb[config.COLL_STAGING_NIEUW]
analyseCol = analyseDb[config.COLL_ANALYSE]
analyseColClean = analyseDb[config.COLL_ANALYSE_CLEAN]
metaCollection = stagingDb['Kolominformatie']

AIRFLOW_WASSTRAAT_CONFIG = "./wasstraat_config/Wasstraat_Config_Harmonize.xlsx"
SUGGESTIE_XL = "./wasstraat_config/Wasstraat_Attribuut_Suggestie.xlsx"

TypeError: 'str' object is not callable

In [36]:
xl = pd.read_excel(AIRFLOW_WASSTRAAT_CONFIG, None);
df_table = xl['Objecten']
df_table.head(30)

,Unnamed: 0,Object,Tabellen,Overerven,Samenvoegen,ABR-code
0,0,Ignore,"["".*backup.*"", "".*kopie.*""]",NaN,NaN,NaN
1,1,Tekening,"[""^TEKENING.*""]",NaN,NaN,NaN
2,2,Vondst,"[""^VONDSTENLIJST"", ""^VONDST$""]",NaN,NaN,NaN
3,3,Spoor,"[""^SPOREN$"", ""^SPOOR$""]",NaN,NaN,NaN
4,4,Vulling,"[""^VULLING.*"", ""MUUR""]",NaN,NaN,NaN
5,5,Dia,"[""DIA.*""]",NaN,NaN,NaN
6,6,Foto,"[""FOTO.*""]",NaN,NaN,NaN
7,7,Put,"[""^PUT$"", ""PUTTEN""]",NaN,NaN,NaN
8,8,Artefact,"[""ARTEFACT.*""]",NaN,NaN,NaN
9,9,Hout,"[""HOUT"", ""ARTF_OPH""]",Artefact,NaN,NaN
10,10,Leer,"[""LEER"", ""ARTF_ODL""]",Artefact,NaN,NaN
11,11,Kleipijp,"[""KLEIPIJPEN"", ""ARTF_PIJP""]",Artefact,NaN,NaN
12,12,Steen,"[""STEEN"", ""ARTF_STN""]",Artefact,NaN,NaN
13,13,Glas,"[""GLAS"", ""ARTF_GLS""]",Artefact,NaN,NaN
14,14,Metaal,"[""METAAL"", ""ARTF_MET""]",Artefact,NaN,NaN
15,15,Aardewerk,"["".*AARDEWERK.*"", ""AW1.*"", ""ARTF_AW"", ""ARTF_RAW""]",Artefact,NaN,NaN
16,16,Menselijk_Materiaal,"[""Skelet.*"", ""ARTF_OMX""]",Artefact,NaN,NaN
17,17,Spijker,"[""SPIJKER.*""]",Artefact,NaN,NaN
18,18,Munt,"[""MUNT.*""]",Artefact,NaN,NaN
19,19,Keramiek,"[""ARTF_KER"", ""KERAMIEK$""]",Artefact,NaN,NaN
20,20,Bot,"[""ARTF_BOT"", ""^BOT$"", ""BEEN""]",Artefact,NaN,NaN
21,21,Vlak,"[""VLAK""]",NaN,NaN,NaN
22,22,Ivoor,"[""ARTF_ODI""]",Artefact,NaN,NaN
23,23,Hoorn,"[""ARTF_ODH""]",Artefact,NaN,NaN
24,24,Schelp,"[""ARTF_ODS""]",Artefact,NaN,NaN
25,25,Onbekend,"[""ARTF_ODX"", ""ARTF_OPX"", ""ARTF_OXX""]",Artefact,NaN,NaN
26,26,Textiel,"[""ARTF_OTE""]",Artefact,NaN,NaN
27,27,Fotobeschrijving,"[""DIAOPGRAVING"", ""DIAVOORWERP"", ""Fotolijst""]",NaN,NaN,NaN
28,28,Fotokoppel,"[""Foto Totaal Tabel""]",NaN,NaN,NaN

## Find all Attributes and connect them to the Objects

In [37]:

df = attributes.getAllAttributes()
df[df['Object'] == 'Tekening']

,Object,Kolommen,omschrijvingen,count,projecten,Attribute,teller,percentage_gevuld
1524,Tekening,(none),[],9,[],,NaN,NaN
1525,Tekening,ARCHIEFNR,[archiefnummer],7,"[DC024, None]",,NaN,NaN
1526,Tekening,CODE,"[schaal, code van de opgraving]",3,[],,NaN,NaN
1527,Tekening,CODENAAM,[(afgekorte) naam van de opgraving],1,[],,NaN,NaN
1528,Tekening,COUPE,[coupe tekening],10,"[DC024, None]",,NaN,NaN
1529,Tekening,DATUM,"[datum, datum tekenen]",11,"[DC024, None]",,NaN,NaN
1530,Tekening,DETAILS,"[detailtekening, details]",8,"[DC024, None]",,NaN,NaN
1531,Tekening,GEBRUIKER,[],6,[],,NaN,NaN
1532,Tekening,GEINKT,[geinkt],1,[],,NaN,NaN
1533,Tekening,GEWIJZIGD,[],6,[],,NaN,NaN
1534,Tekening,ID,[omschrijving],2,[],,NaN,NaN
1535,Tekening,INGEVOERD,[],6,[],,NaN,NaN
1536,Tekening,MICROF,[microfilm],7,"[DC024, None]",,NaN,NaN
1537,Tekening,MICROFILM,[microfilm],1,[],,NaN,NaN
1538,Tekening,OMSCHRYF,[omschrijving],10,"[DC024, None]",,NaN,NaN
1539,Tekening,PAPIER,[geinkt door],7,"[DC024, None]",,NaN,NaN
1540,Tekening,PERIODE,"[codeletter+volgnummer, datum, periode]",3,[],,NaN,NaN
1541,Tekening,PROFIEL,"[profiel ja/nee, profiel]",11,"[DC024, None]",,NaN,NaN
1542,Tekening,PROJECT,[],6,[],,NaN,NaN
1543,Tekening,PUT,[putnummer],10,"[DC024, None]",,NaN,NaN
1544,Tekening,PUTNO,[werkputnummer],2,[],,NaN,NaN
1545,Tekening,SCHAAL,"[schaal, schaal 1 op]",8,"[DC024, None]",,NaN,NaN
1546,Tekening,SOORT,"[soort, werkputnummer, tekening soort]",9,"[DC024, None]",,NaN,NaN
1547,Tekening,TEKENAAR,[tekenaar],11,"[DC024, None]",,NaN,NaN
1548,Tekening,TEKNO,[codeletter+volgnummer],2,[],,NaN,NaN
1549,Tekening,TEK_ID,"[tekening ID, nummer van tekening]",10,"[DC024, None]",,NaN,NaN
1550,Tekening,VLAK,[vlaknummer],10,"[DC024, None]",,NaN,NaN
1551,Tekening,VLAKNO,[vlaknummer],2,[],,NaN,NaN
1552,Tekening,VOLGNUMMER,[volgnummer],10,"[DC024, None]",,NaN,NaN

In [38]:
lst = df['Object'].unique()
Objecten_lst = Dropdown(options = sorted(lst))

@interact(obj = Objecten_lst)
def print_city(obj):
    display(df[df.Object == obj].style.apply(lambda x: ["color: green" if bool(set(x.projecten) & set(['DC179', 'DC154'])) else "" for v in x], axis = 1))

interactive(children=(Dropdown(description='obj', options=('Aardewerk', 'Artefact', 'Bot', 'Dia', 'Foto', 'Fotâ€¦

In [39]:
def setNr(kolom):
    string = str(kolom)
    return string[:len(string)-6] + 'nr' if string.endswith('nummer') else string

df["sugg_kolom"] = df["Kolommen"].str.lower()
#df["sugg_kolom"] = df.apply(lambda x: setNr(df["sugg_kolom"]), axis=1)
df["sugg_omschr"] = df.apply(lambda x: x['omschrijvingen'][0].split()[0].lower() if len(x['omschrijvingen']) > 0 else "", axis=1)
df["sugg_omschr"] = df.apply(lambda x: setNr(x['sugg_omschr']), axis=1)
df["new_attr"] = ""
df["new_attr_artefact"] = ""
df.head(30)

TypeError: 'str' object is not callable

In [40]:
lst_objects = df['Object'].unique()

with pd.ExcelWriter(SUGGESTIE_XL) as writer:
    for obj in lst_objects:
        df[df.Object == obj].to_excel(writer, sheet_name=obj)
    writer.save()

In [41]:
lst = list(df_table[df_table.Overerven == 'Artefact']['Object'])
lst.sort()
#lst = lst.sort()
for tp in lst:
    print(tp + ' = \"' + tp + '\"')

Aardewerk = "Aardewerk"
Bot = "Bot"
Glas = "Glas"
Hoorn = "Hoorn"
Hout = "Hout"
Ivoor = "Ivoor"
Keramiek = "Keramiek"
Kleipijp = "Kleipijp"
Leer = "Leer"
Menselijk_Materiaal = "Menselijk_Materiaal"
Metaal = "Metaal"
Munt = "Munt"
Onbekend = "Onbekend"
Schelp = "Schelp"
Spijker = "Spijker"
Steen = "Steen"
Textiel = "Textiel"

In [42]:
engine = create_engine(config.SQLALCHEMY_DATABASE_URI)

with engine.connect() as connection:
    df = pd.read_sql_query('SELECT brondata, artefactsoort from "Def_Artefact"', connection)

list(df['artefactsoort'].unique())

['Aardewerk',
 'Glas',
 'Menselijk_Bot',
 'Dierlijk_Bot',
 'Hout',
 'Metaal',
 'Kleipijp',
 'Leer',
 'Steen']

In [43]:
lst

['Aardewerk',
 'Bot',
 'Glas',
 'Hoorn',
 'Hout',
 'Ivoor',
 'Keramiek',
 'Kleipijp',
 'Leer',
 'Menselijk_Materiaal',
 'Metaal',
 'Munt',
 'Onbekend',
 'Schelp',
 'Spijker',
 'Steen',
 'Textiel']

TypeError: 'str' object is not callable