In [1]:
import shared.config as config
import pymongo
import numpy as np
import pandas as pd
import json
import re

import sqlalchemy as db
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, inspect
from sqlalchemy.engine import reflection

In [2]:
myclient = pymongo.MongoClient(str(config.MONGO_URI))
stagingDb = myclient[str(config.DB_STAGING)]
analyseDb = myclient[str(config.DB_ANALYSE)]
stagingCol = stagingDb[config.COLL_PLAATJES]
stagingOud = stagingDb[config.COLL_STAGING_OUD]
stagingNieuw = stagingDb[config.COLL_STAGING_NIEUW]
analyseCol = analyseDb[config.COLL_ANALYSE]
analyseColClean = analyseDb[config.COLL_ANALYSE_CLEAN]

metaCollection = stagingDb['Kolominformatie']

lst_soorten_meta = ['Metaal',
 'Artefact',
 'Glas',
 'Stelling',
 'Hout',
 'Spijker',
 'Plaatsing',
 'Keramiek',
 'Put',
 'Vondst',
 'Standplaats',
 'Aardewerk',
 'Munt',
 'Muur',
 'Skelet',
 'Doos',
 'Project',
 'Spoor',
 'Vindplaats',
 'Leer',
 'Steen',
 'Bot',
 'Vlak',
 'Kleipijp']
df_soorten_meta = pd.DataFrame(lst_soorten_meta).rename(columns={0: 'Soort'})

In [3]:
grp_aggr = [{'$group': {'_id': {'project': "$brondata.project", 'soort': "$soort"},'teller': {"$sum": 1}}}
           ,{'$replaceRoot': {'newRoot': {'project': "$_id.project", 'soort': "$_id.soort", 'teller': { '$ifNull': ["$teller", 0]}}}}]
grp_aggr_artef = [{"$match": {"soort": 'Artefact'}}
                 ,{'$group': {'_id': {'project': "$brondata.project", 'soort': "$artefactsoort"},'teller': {"$sum": 1}}}
                 ,{'$replaceRoot': {'newRoot': {'project': "$_id.project", 'soort': "$_id.soort", 'teller': { '$ifNull': ["$teller", 0]}}}}]

def AggregateData(df, fase): 
    df['teller'] = pd.to_numeric(df['teller'])
    df = df.groupby('soort').agg({'project':lambda x: list(x), 'teller':lambda x: sum(x)})
    df['Count'] = df.apply(lambda x: len(x.project), axis=1)
    df['Stage'] = fase
    df = df.sort_values('teller', ascending=False).reset_index()
    df = df.rename(columns={'soort': 'Soort', 'project': 'Projecten', 'teller': 'Aantal_Records', 'Count': 'Aantal_projecten'}).sort_index()
    return df

def getData(collection, soort): 
    df1 = pd.DataFrame(list(collection.aggregate(grp_aggr_artef)))
    df2 = pd.DataFrame(list(collection.aggregate(grp_aggr)))

    return AggregateData(df1.append(df2[df2.soort != 'Artefact']), soort)

In [4]:
df_singlestore = getData(analyseCol, 'SingleStore')
df_singlestore.head(5)

/tmp/ipykernel_370/346389215.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  return AggregateData(df1.append(df2[df2.soort != 'Artefact']), soort)

,Soort,Projecten,Aantal_Records,Aantal_projecten,Stage
0,Aardewerk,"[DC032, DC087, DB003, DB013, DB011, VORM, SPLI...",156121,81,SingleStore
1,Dierlijk_Bot,"[OPMERKING, INDIVIDU, DIGI_FO_NO, DP4, DC179, ...",71270,52,SingleStore
2,Foto,[nan],40149,1,SingleStore
3,Vondst,"[DC034, DB191, DC163, DC033, DB240, DC249, DB2...",39084,109,SingleStore
4,Vulling,"[DC232, HK, DB120, DB122, DC097, DB133, DB033,...",31816,117,SingleStore

In [5]:
df_singlestoreclean = getData(analyseColClean, 'SingleStoreClean')
df_singlestoreclean.head(5)

/tmp/ipykernel_370/346389215.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  return AggregateData(df1.append(df2[df2.soort != 'Artefact']), soort)

,Soort,Projecten,Aantal_Records,Aantal_projecten,Stage
0,Aardewerk,"[[DC097, DC097], [DC088], [DC115, DC115, DC115...",72533,114,SingleStoreClean
1,Dierlijk_Bot,"[[VERGROEI], [DB113, DB113], [ORIENTATIE], [DB...",51351,67,SingleStoreClean
2,Foto,"[[D, DC003], [D, DB032], [D, DC115], [D, DB217...",40149,65,SingleStoreClean
3,Vulling,"[[DC150], [VKL], [MORTEL], [DC114], [DB227], [...",31816,117,SingleStoreClean
4,Fotokoppel,[[D]],31469,1,SingleStoreClean

In [6]:
lst_tables = ['Def_Project', 'Def_Put', 'Def_Vondst', 'Def_Spoor', 'Def_Stelling', 'Def_Doos', 'Def_Standplaats', 'Def_Plaatsing', 'Def_Vlak', 'Def_Vindplaats', 'Def_Artefact'] #['Def_Project', 'Def_Vondst', 'Def_Stelling', 'Def_Plaatsing', 'Def_Vindplaats', 'Def_Artefact']
regexProject = re.compile(r'\'project\': \'(.*?)\'') # regex to replace Object

def getProject(brondata):    
    #print(brondata)
    if brondata is None or brondata != "":
        return regexProject.search(brondata).group(1)
    else: 
        return "" 

df_tables_projects = pd.DataFrame()
    
engine = create_engine(config.SQLALCHEMY_DATABASE_URI)
with engine.connect() as connection:
    for table in lst_tables:     
        df = pd.read_sql_query('SELECT brondata from "' + table + '"', connection)
        
        df_out = pd.DataFrame()
        df_out['project'] = df.apply(lambda x: getProject(x['brondata']), axis=1)
        df_out['soort'] = table[4:]
        df_tables_projects = pd.concat([df_tables_projects, pd.DataFrame(df_out).groupby(['project', 'soort']).size().reset_index(name='teller')])

with engine.connect() as connection:
    df = pd.read_sql_query('SELECT brondata, artefactsoort from "Def_Artefact"', connection)

    df_out = pd.DataFrame()
    df_out['project'] = df.apply(lambda x: getProject(x['brondata']), axis=1)
    df_out['soort'] = df['artefactsoort']
    df_tables_projects = pd.concat([df_tables_projects, pd.DataFrame(df_out).groupby(['project', 'soort']).size().reset_index(name='teller')])

        
df_doelsysteem = AggregateData(df_tables_projects, 'Doelsysteem')
df_doelsysteem.head(5)

,Soort,Projecten,Aantal_Records,Aantal_projecten,Stage
0,Artefact,"[0, AANTAL, AANW, AFMETING, ARTEFACT, ASSOCIA,...",280571,266,Doelsysteem
1,Aardewerk,"[AANTAL, ARTEFACT, BAKSEL, CAT, DAT_BEG, DAT_E...",72533,81,Doelsysteem
2,Dierlijk_Bot,"[AANTAL, ARTEFACT, ASSOCIA, BEWERK, BRAND, DB0...",51351,52,Doelsysteem
3,Onbekend,"[AANTAL, ARTEFACT, DC160, GEWICHT, OPMERKING, ...",30054,6,Doelsysteem
4,Vondst,"[DB001, DB002, DB003, DB004, DB005, DB006, DB0...",29042,112,Doelsysteem

## Analyse van alle gegevens

Hieronder volgt een overzicht van alle gegevens die in de vier fases beschikbaar zijn. Zo kunnen fouten in de conversie worden opgespoord.

In [7]:


def getOverview(OnWhat): 
    lst_countColumns = [OnWhat + '_singlestore', OnWhat + '_singlestoreclean', OnWhat + '_doelsysteem']
    
    df = df_singlestore[['Soort', 'Projecten', OnWhat]].merge(df_singlestoreclean[['Soort', OnWhat]], on=['Soort'], how='outer', suffixes=("_singlestore", "_singlestoreclean"))
    df = df.merge(df_doelsysteem[['Soort', OnWhat]], on=['Soort'], how='outer', suffixes=("_singlestoreclean", "_doelsysteem"))

    df = df.sort_values(OnWhat+ '_singlestore', ascending=False) 
    df.rename(columns={'Aantal_Records': 'Aantal_Records_doelsysteem'}, inplace=True)
    df = df.merge(df_soorten_meta, on=['Soort'], how='outer')
    df[lst_countColumns] = df[lst_countColumns].fillna(0)
    df[lst_countColumns] = df[lst_countColumns].astype(int, errors='ignore')

    column_to_move = df.pop("Projecten")
    df.insert(4, "Projecten", column_to_move)
    df = df.style.bar(subset=lst_countColumns, color='#5fba7d', vmax=20000)
    
    return df

getOverview('Aantal_Records')
#df.columns
#df

## Detailanalyse SingleStore naar Doelsysteem

In [8]:
df = df_singlestore.merge(df_doelsysteem, on=['Soort', 'Aantal_Records', 'Aantal_projecten'], how='outer', suffixes=("_singlestore", "_doelsysteem"))
df[df.Stage_singlestore.isnull() | df.Stage_doelsysteem.isnull() ]

,Soort,Projecten_singlestore,Aantal_Records,Aantal_projecten,Stage_singlestore,Projecten_doelsysteem,Stage_doelsysteem
0,Aardewerk,"[DC032, DC087, DB003, DB013, DB011, VORM, SPLI...",156121,81,SingleStore,NaN,NaN
1,Dierlijk_Bot,"[OPMERKING, INDIVIDU, DIGI_FO_NO, DP4, DC179, ...",71270,52,SingleStore,NaN,NaN
2,Foto,[nan],40149,1,SingleStore,NaN,NaN
3,Vondst,"[DC034, DB191, DC163, DC033, DB240, DC249, DB2...",39084,109,SingleStore,NaN,NaN
4,Vulling,"[DC232, HK, DB120, DB122, DC097, DB133, DB033,...",31816,117,SingleStore,NaN,NaN
5,Fotokoppel,[D],31469,1,SingleStore,NaN,NaN
7,Spoor,"[PROFIEL, DC172, DB192, DC118, DC232, DB117, D...",21430,95,SingleStore,NaN,NaN
8,Hout,"[DB034, DC082, DIVERS, PUBL_CODE, DB148, DC052...",15972,106,SingleStore,NaN,NaN
9,Metaal,"[DC024, TYPE_CODE, GROEP, BEWERKING, DB113, DC...",15774,60,SingleStore,NaN,NaN
10,Kleipijp,"[DC067, DC023, DC057, DC036, DC033, DC093, BAS...",15160,60,SingleStore,NaN,NaN
11,Glas,"[VERSIERING, VORMC, DAT_VRWP, DB004, DB144, RA...",15126,66,SingleStore,NaN,NaN
12,Menselijk_Bot,"[DC069, AANTAL, OPMERKING, DC101, SPLIT_ID, DB...",14020,13,SingleStore,NaN,NaN
14,Fotobeschrijving,"[DC101, DC115, DC023, DC027, DB034, DB035, DC0...",12795,75,SingleStore,NaN,NaN
15,Leer,"[DAT_VRWP, RESTAU, DC115, TOESTAND, DC026, DET...",12638,73,SingleStore,NaN,NaN
16,Steen,"[DC087, OPMERKING, DB005, DC034, DIKTE, AANTAL...",12317,47,SingleStore,NaN,NaN
21,Doos,[MAGAZIJN],3845,1,SingleStore,NaN,NaN
22,Vlak,"[DB152, DB213, DB148, VLAK, DB144, DC157, DAT_...",2916,59,SingleStore,NaN,NaN
24,Put,"[PUT, DB135, DB191, DB193, DC154, DB133, DC172...",383,39,SingleStore,NaN,NaN
26,vindplaats,[DELF],37,1,SingleStore,NaN,NaN
27,stelling,[MAGAZIJN],22,1,SingleStore,NaN,NaN
28,Artefact,NaN,280571,266,NaN,"[0, AANTAL, AANW, AFMETING, ARTEFACT, ASSOCIA,...",Doelsysteem
29,Aardewerk,NaN,72533,81,NaN,"[AANTAL, ARTEFACT, BAKSEL, CAT, DAT_BEG, DAT_E...",Doelsysteem
30,Dierlijk_Bot,NaN,51351,52,NaN,"[AANTAL, ARTEFACT, ASSOCIA, BEWERK, BRAND, DB0...",Doelsysteem
31,Vondst,NaN,29042,112,NaN,"[DB001, DB002, DB003, DB004, DB005, DB006, DB0...",Doelsysteem
32,Spoor,NaN,23103,106,NaN,"[5, AFGEWERKT, COUPELIJST, COUPENR, DATERING, ...",Doelsysteem
33,Hout,NaN,14669,106,NaN,"[0, AANTAL, AANW, ARTEFACT, BESCHR, BEWERK, BI...",Doelsysteem
34,Kleipijp,NaN,14598,60,NaN,"[AANTAL, AFMETING, ARTEFACT, BASIS_TYPE, BESCH...",Doelsysteem
35,Menselijk_Bot,NaN,14015,13,NaN,"[AANTAL, ARTEFACT, DB034, DB113, DB114, DC039,...",Doelsysteem
36,Metaal,NaN,13837,60,NaN,"[AANTAL, ARTEFACT, BESCHR, BEWERKING, COMPLEET...",Doelsysteem
37,Glas,NaN,12715,66,NaN,"[AANTAL, ARTEFACT, BESCHR, CATALOGUS, COMPLEET...",Doelsysteem
38,Leer,NaN,11962,73,NaN,"[0, AANTAL, AFMETING, ARTEFACT, BESCHR, BOVENL...",Doelsysteem
39,Steen,NaN,11423,47,NaN,"[AANTAL, ARTEFACT, BESCHRYF, COMPL, DATERING, ...",Doelsysteem
40,Doos,NaN,4044,39,NaN,"[DB001, DB003, DB004, DB005, DB006, DB032, DB0...",Doelsysteem
41,Vlak,NaN,3392,109,NaN,"[0, ARCHEOLOOG, BESCHRYF, DAT_AANLEG, DB005, D...",Doelsysteem
42,Put,NaN,997,155,NaN,"[8, AANGELEGD, BESCHRYF, DB001, DB002, DB003, ...",Doelsysteem