In [9]:
import config
import pymongo
import numpy as np
import pandas as pd
import json
import re
import simplejson
from math import isnan

from pandas_profiling import ProfileReport
from ipywidgets import interact, Dropdown

In [10]:
myclient = pymongo.MongoClient(str(config.MONGO_URI))
stagingDb = myclient[str(config.DB_STAGING)]
analyseDb = myclient[str(config.DB_ANALYSE)]
stagingCol = stagingDb[config.COLL_PLAATJES]
stagingOud = stagingDb[config.COLL_STAGING_OUD]
stagingNieuw = stagingDb[config.COLL_STAGING_NIEUW]
analyseCol = analyseDb[config.COLL_ANALYSE]
analyseColClean = analyseDb[config.COLL_ANALYSE_CLEAN]
metaCollection = stagingDb['Kolominformatie']

In [13]:
#df = pd.DataFrame(list(analyseCol.find({'soort': 'Stelling'})))
df = pd.DataFrame(list(analyseCol.find({'soort': 'Put'})))
df.drop(['ID', 'index', 'level_0'], inplace=True, errors='ignore')
df.reset_index(inplace=True)
df['ID'] = df['index']
df

,index,_id,brondata,projectcd,putnr,soort,key,key_project,ID
0,0,620579e46026534a675d270d,"{'_id': 620579e46026534a675d270d, 'PUT': 2, 'P...",DC154,2,Put,PDC154P2,PDC154,0
1,1,620579e46026534a675d270e,"{'_id': 620579e46026534a675d270e, 'PUT': 1, 'P...",DC154,1,Put,PDC154P1,PDC154,1
2,2,620579f50b22202220526c58,"{'_id': 620579f50b22202220526c58, 'PUT': 1, 'P...",DC179,1,Put,PDC179P1,PDC179,2
3,3,620579f50b22202220526c59,"{'_id': 620579f50b22202220526c59, 'PUT': 2, 'P...",DC179,2,Put,PDC179P2,PDC179,3
4,4,620579f50b22202220526c5a,"{'_id': 620579f50b22202220526c5a, 'PUT': 3, 'P...",DC179,3,Put,PDC179P3,PDC179,4
5,5,620579f50b22202220526c5b,"{'_id': 620579f50b22202220526c5b, 'PUT': 4, 'P...",DC179,4,Put,PDC179P4,PDC179,5
6,6,620579f50b22202220526c5c,"{'_id': 620579f50b22202220526c5c, 'PUT': 5, 'P...",DC179,5,Put,PDC179P5,PDC179,6
7,7,620579f50b22202220526c5d,"{'_id': 620579f50b22202220526c5d, 'PUT': 6, 'P...",DC179,6,Put,PDC179P6,PDC179,7
8,8,620579f50b22202220526c5e,"{'_id': 620579f50b22202220526c5e, 'PUT': 7, 'P...",DC179,7,Put,PDC179P7,PDC179,8
9,9,620579f50b22202220526c5f,"{'_id': 620579f50b22202220526c5f, 'PUT': 8, 'P...",DC179,8,Put,PDC179P8,PDC179,9

In [87]:
mapper = {"$arrayToObject" : {"$filter": {"input" : {"$objectToArray" : "$brondata"}, 
                                          "as" : "item", 
                                          "cond" : {"$and" : [{"$ne" : ["$$item.v",np.NaN]},{"$ne" : ["$$item.v",None]}, {"$ne" : ["$$item.v",""]}]}}}}

df_count = pd.DataFrame(list(analyseCol.aggregate([
    {"$match": {"brondata": {"$exists": {"$Bool": 1}}, "soort": {"$exists": {"$Bool": 1}}}},
    {"$replaceRoot": { "newRoot": { "$mergeObjects": [ { "soort": {"$ifNull": ["$artefactsoort", "$soort"]}}, mapper ] } } }])))
df_count = df_count.groupby(['soort']).agg(['count'])
df_count.columns = list(df_count.columns.levels[0])
df_count = df_count.reset_index(level=0)
df_count = df_count.melt(id_vars=["soort", "_id"])
df_count = df_count[df_count.value != 0]
df_count.rename(columns={'value': 'teller'}, inplace=True)
df_count.sort_values(by=['soort', 'variable'], inplace=True)
df_count['percentage'] = pd.to_numeric(100 * df_count['teller'] / df_count['_id'], downcast='integer').round(0)
df_count.drop(columns=['_id'], inplace=True)
df_count.head(50)

          soort     variable  teller  percentage
1752  Aardewerk          10a    5196        75.0
2664  Aardewerk          10b     420         6.0
3600  Aardewerk          10c     190         3.0
3624  Aardewerk          10d     216         3.0
1776  Aardewerk           11    5918        85.0
1800  Aardewerk           12    6048        87.0
1824  Aardewerk           13    6048        87.0
2688  Aardewerk           1b    5082        73.0
2400  Aardewerk           1c     324         5.0
2424  Aardewerk            2    6046        87.0
2448  Aardewerk            3    4984        72.0
2472  Aardewerk           3a    5385        77.0
2496  Aardewerk           3b    5384        77.0
1536  Aardewerk           4b    1724        25.0
2544  Aardewerk          4b1    5721        82.0
2568  Aardewerk          4b2    5798        83.0
1560  Aardewerk           4c    2148        31.0
3696  Aardewerk           4d     162         2.0
1584  Aardewerk           5a    6030        87.0
1608  Aardewerk          5a1     365         5.0
1632  Aardewerk           5b     245         4.0
1656  Aardewerk           5c     607         9.0
2112  Aardewerk           5d    1350        19.0
2592  Aardewerk           5e    4373        63.0
3408  Aardewerk           5f     181         3.0
2616  Aardewerk           6a    1431        21.0
2712  Aardewerk           6b     837        12.0
2640  Aardewerk           6c    2124        31.0
1920  Aardewerk           6d     296         4.0
1680  Aardewerk           7a    4778        69.0
1704  Aardewerk           7b    5077        73.0
1728  Aardewerk            8    1711        25.0
2760  Aardewerk            9     149         2.0
3528  Aardewerk           >D     323         5.0
1944  Aardewerk       AANTAL     594         9.0
3480  Aardewerk   AFMETINGEN     265         4.0
120   Aardewerk       BAKSEL      82         1.0
96    Aardewerk         CODE      45         1.0
1440  Aardewerk     CODENAAM    6907        99.0
3456  Aardewerk       Cat No     265         4.0
2952  Aardewerk  DATUM BEGIN       1         0.0
2976  Aardewerk   DATUM EIND       1         0.0
3504  Aardewerk           DB     781        11.0
1896  Aardewerk     DIAMETER      87         1.0
2040  Aardewerk       DOOSNO     594         9.0
2520  Aardewerk           DR    1849        27.0
1968  Aardewerk     FRAGMENT     594         9.0
3576  Aardewerk            H     533         8.0
1416  Aardewerk           ID    6642        96.0
1272  Aardewerk          MAI     594         9.0

In [68]:
df[df.value != 0]

          soort    variable  value
0     Aardewerk         _id   6953
1      Artefact         _id    175
2           Bot         _id      4
3          Doos         _id   2773
4          Glas         _id    461
...         ...         ...    ...
9359     Vondst     VULLING    174
9383     Vondst       VAKNR    174
9407     Vondst  VERZMWIJZE    174
9431     Vondst   VAKLETTER    174
9455     Vondst     SEGMENT    174

[789 rows x 3 columns]

['_id',
 'brondata',
 'artefactnr',
 'opmerkingen',
 'typevoorwerp',
 'functievoorwerp',
 'literatuur',
 'tekeningnr',
 'soort',
 'artefactsoort',
 'key',
 'key_project',
 'fileName',
 'imageUUID',
 'imageMiddleUUID',
 'imageThumbUUID',
 'fileType',
 'directory',
 'mime_type',
 'fototype',
 'fotonr',
 'fotosubnr',
 'materiaal',
 'key_project_type',
 'putnr',
 'vondstnr',
 'key_artefact',
 'key_vondst',
 'beschrijving',
 'glassoort',
 'projectnaam',
 'doosnr',
 'uitgeleend',
 'inhoud',
 'datering',
 'publicatiecode',
 'dateringvanaf',
 'dateringtot',
 'typecd',
 'restauratie',
 'exposabel',
 'key_doos',
 'key_plaatsing',
 'key_put',
 'origine',
 'dianr',
 'datering_origineel',
 'vlaknr',
 'stelling',
 'table',
 'herkomst',
 'key_stelling',
 'spoornr',
 'vorm',
 'diepte',
 'key_vlak',
 'error',
 'volgletter',
 'aard',
 'vaknr',
 'omstandigheden',
 'datum',
 'conserveren',
 'graf',
 'houtsoortcd',
 'maten',
 'bewerkingssporen',
 'gebruikssporen',
 'decoratie',
 'key_standplaats',
 'toponiem',
 'xcoor_rd',
 'ycoor_rd',
 'jaar',
 'coor_wgs',
 'latitude',
 'longitude',
 'coor_rd',
 'trefwoorden',
 'vindplaats',
 'gemeente',
 'begindatering',
 'einddatering',
 'onderzoek',
 'mobilia',
 'depot',
 'documentatie',
 'projectcd']